{% extends 'base.html.twig' %}

{% block title %}Winner{% endblock %}
{% block main %}

<article>
    <section class="winner">
        <h1>{{ winner.getName() }} wins!</h1>
        <h3>Points: {{ winner.getPoints() }}</h3>
        {% for card in winner.showHand() %}
            <span class="card {{ card.getCardColor() }}">{{ card.getSymbol() }}</span>
        {% endfor %}
    </section>

    <section class="players">
        {% for player in players %}
        <div class="player">
            <h1>{{ player.getName() }}</h1>
            <h3>Points: {{ player.getPoints() }}</h3>
                {% for card in player.showHand() %}
                    <span class="card {{ card.getCardColor() }}">{{ card.getSymbol() }}</span>
                {% endfor %}
               
        </div>
        {% endfor %}
        
    </section>

    <section class="bank">
        <h1>{{ bank.getName() }}:</h1>
        <h3>Points: {{ bank.getPoints() }}</h3>
        {% for card in bank.showHand() %}
            <span class="card {{ card.getCardColor() }}">{{ card.getSymbol() }}</span>
        {% endfor %}
    </section>

    <a href=" {{ path('game_destroy') }}" class="button blue-button">Spela igen?</a>
    </div>
</article>

{% endblock %}