{% extends 'adventure/base-adventure.html.twig' %}

{% block roomtext %}

In the deepest chamber of the world, a monstrous dragon coils around a mountain of gold. Jewels glint in the flickering
firelight, and the beast's glowing eyes never leave you. Each breath fills the cavern with smoke and heat. This is the
end of your path… or the beginning of legend.

{% endblock roomtext %}

{% block roomform %}

    <form action=" {{ path('equip_item') }}" , method="post">
        {% for item in roomObjects %}
        {% if item.getName() not in backpack and item.getName() != human.getWeaponName() %}
        <input type="hidden" name="referer_route" value="{{ app.request.attributes.get('_route') }}">
        <input type="radio" id="{{ item.getName()}}" name="item" value="{{ item.getName()}}">
        <label for="{{ item.getName()}}">Pick up the {{ item.getName() }}</label><br>
        {% endif %}
        {% endfor %}

        {% if roomObjects|length > 0 %}
        <input type="submit" name="submit" id="submit" value="Equip">
        {% endif %}
    </form>

{% endblock roomform %}
