{% extends 'adventure/graveyard.html.twig' %}
{% block title %}Adventure - {{app.request.attributes.get('_route')|title}} {% endblock %}


{% block roomtext %}

<p>
    The narrow path winds its way up the grassy hill, leading you to a small, timeworn cottage. Its thatched roof sags
    slightly with age, and the red door stands closed—silent, yet inviting. Wind whispers through the nearby trees, as
    if
    urging you forward. You feel a strange warmth from within. What secrets lie beyond the door? If only i had a key to open the door with..
</p>

{% endblock roomtext %}

{% block roomform %}
<h1>Ny form</h1>
<form action=" {{ path('equip_item') }}" , method="post">

    {% for item in roomObjects %}
    {% if item.getName() not in backpack and item.getName() != human.getWeaponName() %}
    <input type="hidden" name="referer_route" value="{{ app.request.attributes.get('_route') }}">
    <input type="radio" id="{{ item.getName()}}" name="item" value="{{ item.getName()}}">
    <label for="{{ item.getName()}}">Pick up the {{ item.getName() }}</label><br>
    {% endif %}
    {% endfor %}
    {% if roomObjects|length > 0 %}
    <input type="submit" name="submit" id="submit" value="Equip">
    {% endif %}
</form>

<p>Next room: <a href="{{ path(next) }} ">Next room, {{next}}</a></p>
<p>Prev room: <a href="{{ path(prev) }} ">prev room, {{prev}}</a></p>
{% endblock roomform %}