{% extends 'adventure/graveyard.html.twig' %}
{% block title %}Adventure - {{app.request.attributes.get('_route')|title}} {% endblock %}


{% block roomtext %}
The beast lies still, its once-mighty wings folded in silence. Flames no longer flicker in its throat. Around you, gold
and glory stretch as far as the eye can see. You stand victorious.

You slayed the dragon. The treasure is yours.

But at what cost? The silence lingers… was this the end, or only the beginning of your legend?
{% endblock roomtext %}

{% block roomform %}
<h1>Ny form</h1>
<form action=" {{ path('equip_item') }}" , method="post">

    {% for item in roomObjects %}
    {% if item.getName() not in backpack and item.getName() != human.getWeaponName() %}
    <input type="hidden" name="referer_route" value="{{ app.request.attributes.get('_route') }}">
    <input type="radio" id="{{ item.getName()}}" name="item" value="{{ item.getName()}}">
    <label for="{{ item.getName()}}">Pick up the {{ item.getName() }}</label><br>
    {% endif %}
    {% endfor %}
    {% if roomObjects|length > 0 %}
    <input type="submit" name="submit" id="submit" value="Equip">
    {% endif %}
</form>

<p>Next room: <a href="{{ path(next) }} ">Next room, {{next}}</a></p>
<p>Prev room: <a href="{{ path(prev) }} ">prev room, {{prev}}</a></p>
{% endblock roomform %}