{% extends "base.html.twig" %}

{% block main %}
<article>
<h1>Tillgängliga JsonRoutes:</h1>
    <ul>
        <li><a href="{{ path('quote') }}">Quote</a> - Generate a random qute in Json format</li>

        <form method="POST" action="">
            <ul>
                <li><input type="submit" name="deck" value="Show deck"
                    onClick="this.form.action='{{ path('json_deck') }}';this.form.method='get';"> - Show cards as Json
                </li>
                <li>
                    <input type="submit" name="shuffle" value="Shuffle" onClick="this.form.action='{{ path('json_shuffle') }}';">
                    - Shuffle all cards
                </li>
                <li>
                    <input type="submit" name="draw" value="Draw" onClick="this.form.action='{{ path('json_draw') }}';"> - Draw a card from the deck of cards
                </li>
                <li>
                    <input type="submit" name="draw" value="Draw 5" onClick="this.form.action='{{ path('json_draw', {num:5}) }}';"> - Draw 5 cards from the deck of cards
                </li>
            </ul>
        </form>

        <li><a href="{{ path('game_api') }}">Game Api</a> - Show the score from current Game of 21 session</li>
    </ul>
</article>
{% endblock %}