<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/four.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <span class="site-title">MVC 2025</span>
            <nav class="navbar">
                <ul>
                    <li><a href="{{ path('home') }}" class="{{ (app.request.pathinfo == path('home')) ? 'active' : '' }}">Me</a></li> |
                    <li><a href="{{ path('about') }}" class="{{ (app.request.pathinfo == path('about')) ? 'active' : '' }}">About</a></li> |
                    <li><a href="{{ path('report') }}" class="{{ (app.request.pathinfo == path('report')) ? 'active' : '' }}">Report</a></li> |
                    <li><a href="{{ path('lucky') }}" class="{{ (app.request.pathinfo == path('lucky')) ? 'active' : '' }}">Lucky</a></li> |
                    <li><a href="{{ path('jsonRoutes') }}" class="{{ (app.request.pathinfo == path('jsonRoutes')) ? 'active' : '' }}">Api</a></li> |
                    <li><a href="{{ path('card') }}" class="{{ (app.request.pathinfo == path('card')) ? 'active' : '' }}">Card</a></li> |
                    <li><a href="{{ path('game_info') }}" class="{{ (app.request.pathinfo == path('game_info')) ? 'active' : '' }}">Game</a></li> |
                    <li><a href="{{ path('session_dump') }}" class="{{ (app.request.pathinfo == path('session_dump')) ? 'active' : '' }}">Reset Session</a></li> |
                    <li><a href="{{ path('library_index') }}" class="{{ (app.request.pathinfo == path('library_index')) ? 'active' : '' }}">Library</a></li>             
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
                {% block body %}{% endblock %}
            {% endblock %}
        </main>
        <footer>
            Copyright av mig &copy;
        </footer>
    </body>
    
</html>
